<h1>{{set.set_name}}</h1>
<div class="row row-cols-1 row-cols-md-2 rows-cols-lg-3 g-4">
  {{#each set.cards as |card|}}
    <div class="col">
      <div class="card">
        <img src="https://placehold.co/100" class="" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{card.card_name}}</h5>
          <p class="card-text">
            {{card.description}}
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary addInventory" data-card-id={{card.id}}>Add to Inventory</button>
        </div>
      </div>
    </div>
  {{/each}}

  <script src="/js/set.js"></script>